<!DOCTYPE html>
<html>
<head>
	<title>Tags - olligobber.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="Browse posts by tag.">
	<meta name="keywords" content="olligobber">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

	<meta property="og:title" content="Tags - olligobber.com">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://olligobber.com/Logo.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:description" content="Browse posts by tag.">
	<meta property="og:url" content="https://olligobber.com/tags/">

	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/png" href="/Logo.png">
	<link rel="alternate" type="application/atom+xml" href="/atom.xml">
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/posts/">All Posts</a>
		<a class="here">Posts by Tag</a>
		<a href="/about/">About Me</a>
		<a href="https://mathstodon.xyz/@olligobber">Mastodon</a>
		<a href="https://github.com/olligobber">Github</a>
	</nav>
	<main>
		<h2>Browse Posts by Tag</h2>
		{tags}
	</main>
	<footer>
		<p>Made with Typst, Haskell, HTML, and CSS, by olligobber</p>
	</footer>
</body>
</html>