<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<nav>
		<a class="here">Home</a>
		<a href="/posts/">All Posts</a>
		<a href="/tags/">Posts by Tag</a>
		<a href="/about/">About Me</a>
		<a href="https://mathstodon.xyz/@olligobber">Mastodon</a>
		<a href="https://github.com/olligobber">Github</a>
	</nav>
	<header>
		<img src="/Logo.png">
		<h1>olligobber.com</h1>
	</header>
	<main>
		<h2>Recent Posts</h2>
		{posts}
		<a class="more" href="/posts/">More posts</a>
	</main>
	<footer>
		<p>Copyright 2025 olligobber</p>
	</footer>
</body>
</html>